doctype html
html
  head
    include includes/head_html.pug
    title #{title}
    script(src="../../../../disc_script.js" type="text/javascript")
    link(rel='stylesheet', href='../../../assets/libs/fortawesome/fontawesome-free/css/all.min.css')
  body
    include includes/header_private.pug
    section.slice.slice-lg.delimiter-bottom
      a.btn.btn-neutral.btn-icon-only.rounded-circle.position-absolute.left-4.top-90.d-none.d-lg-inline-flex(href=(discipline===undefined ? "/disciplines/" : "/disciplines/"+discipline.allias+"/"))
        span.btn-inner--icon
          i(data-feather='arrow-left')
      .container.d-flex.flex-column
        .row.align-items-center.justify-content-center
          .col-md-6.col-lg-7.col-xl-8.py-6.py-md-0
            div
              .mb-5.text-center
                h6.h3.mb-1 #{title}
              span.clearfix
              if errorMessage.length
                p.mb-0(style=" color: red")=errorMessage
              form(action='.', method='POST')
                .form-group.mb-0
                    .d-flex.align-items-center.justify-content-between
                      div
                        label.form-control-label Имя дисциплины
                          span.text-danger *
                    .input-group.input-group-merge
                      input#name.form-control.form-control-prepend(type='text', name="name", placeholder='Имя', required, value=(discipline===undefined ? "" : discipline.name), maxlength=120)
                      .input-group-prepend
                        span.input-group-text
                          i(data-feather='align-left')
                .row
                  .col.form-group.mb-0
                    .d-flex.align-items-center.justify-content-between
                      div
                        label.form-control-label Аббревиатура
                          span.text-danger *
                    .input-group.input-group-merge
                      input#mnemo.form-control.form-control-prepend(type='text', name="mnemo", placeholder='Краткое имя', required, value=(discipline===undefined ? "" : discipline.mnemo), maxlength=20)
                      .input-group-prepend
                        span.input-group-text
                          i(data-feather='minimize-2')
                  .col.form-group.mb-0
                    .d-flex.align-items-center.justify-content-between
                      div
                        label.form-control-label Имя для ссылки(URL)
                          span.text-danger *
                    .input-group.input-group-merge
                      input#allias.form-control.form-control-prepend(type='text', name="allias", placeholder='Короткое имя для ссылки', required, value=(discipline===undefined ? "" : discipline.allias), , maxlength=30)
                      .input-group-prepend
                        span.input-group-text
                          i(data-feather='link')
                .form-group.mb-0
                  .d-flex.align-items-center.justify-content-between
                    div
                      label.form-control-label Описание дисциплины
                  .input-group.input-group-merge
                    textarea#description.form-control.form-control-prepend(type='textarea', placeholder='Добавьте описание дисциплины', name='description', rows="4", maxlength=300) #{discipline===undefined ? "" : discipline.description}
                    .input-group-prepend
                      span.input-group-text
                        i(data-feather='align-justify')    
                .row.mt-4
                  .col.form-group.mb-0
                    button.btn.btn-block.btn-primary(type='submit') #{discipline===undefined ? "Создать" : "Изменить"}
                  .col.form-group.mb-0
                    a(href=(discipline===undefined ? "/disciplines/" : "/disciplines/"+discipline.allias+"/"))
                      button.btn.btn-block.btn-secondary(type='button') Отмена
    script(src='../../../assets/libs/jquery/dist/jquery.min.js')
    script(src='../../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='../../../assets/libs/svg-injector/dist/svg-injector.min.js')
    script(src='../../../assets/libs/feather-icons/dist/feather.min.js')
    script(src='../../../assets/libs/in-view/dist/in-view.min.js')
    script(src='../../../assets/libs/sticky-kit/dist/sticky-kit.min.js')
    script(src='../../../assets/libs/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='../../../assets/js/quick-website.js')
    script.
      feather.replace({
      width: "1em",
      height: "1em"
      })
    include includes/yandex_metrika.pug
