doctype html
html
  head
    title #{title}
    include includes/head_html.pug
    link(rel='stylesheet', href='../assets/libs/fortawesome/fontawesome-free/css/all.min.css')
  body
    .preloader
      .spinner-border.text-primary(role='status')
        span.sr-only Loading...
    include includes/header_private.pug
    if userInfo.securityRole.includes("teacher")
      include includes/disciplines_for_teacher.pug
    else
      section.slice.py-5.bg-section-secondary
        .container
          .row
            .col-md-3
              .mb-4
            .col-md-9
              .row.align-items-center.mb-4
                .col
                  h1.h5.mb-0 Дисциплины
                if userInfo.securityRole.includes("superadmin") || userInfo.securityRole.includes("teacher")
                a(href="/disciplines/create/")  
                  .col-auto
                    button.btn.btn-sm.btn-primary.btn-icon(type='button')
                      span.btn-inner--text Добавить
                      span.btn-inner--icon
                        i(data-feather='plus')
              .row.mx-n2
                each disc in disciplines 
                  .col-sm-6.col-lg-4.px-2
                    .card.mb-3
                      .card-header.pb-3
                        .d-flex.justify-content-between.align-items-center
                          div
                            span.h6
                          .text-right
                            a.action-item.mr-2(href=urlDiscDetail+disc.allias+"/", data-toggle='tooltip', title='Просмотр')
                              i(data-feather='external-link')
                      .card-body.pt-0
                        .mt-3
                          h6.mb-0 #{disc.name}
                          p.mb-0.text-sm.text-muted #{disc.mnemo}
                        .d-flex.justify-content-between.align-items-center
                          .text-right
                            .d-flex.align-items-center
                              .pl-2
                                small.h6 #{disc.group} #{disc.course} курс
                else 
                  p Дисциплин пока ещё нет.
    script(src='../assets/libs/jquery/dist/jquery.min.js')
    script(src='../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='../assets/libs/svg-injector/dist/svg-injector.min.js')
    script(src='../assets/libs/feather-icons/dist/feather.min.js')
    script(src='../assets/libs/in-view/dist/in-view.min.js')
    script(src='../assets/libs/sticky-kit/dist/sticky-kit.min.js')
    script(src='../assets/libs/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='../assets/libs/progressbar.js/dist/progressbar.min.js')
    script(src='../assets/js/quick-website.js')
    script.
      feather.replace({
      width: "1em",
      height: "1em"
      })
