doctype html
html
  head
    title #{title}
  body
    h1 #{title}
    p #{userInfo.username}
    hr
    p Do you want delete the file #{file.name}?
    form(action="" method="POST")
      button(type="submit") Delete 
    if errorMessage.length
      p(style="color: red") #{errorMessage}
