doctype html
html
  head
    title #{title}
    script(src="../../../script.js" type="text/javascript")
  body
    h1 #{title}
    p #{userInfo.username}
    hr
    if errorMessage.length
      p(style="color: red") #{errorMessage}
    form#upload(action="" method="POST" enctype="")
      label(for="discipline") Discipline:
      p#discipline(name="discipline") #{discpline.name}
      br
      label(for="myfile") Refresh file:
      input#myfile(type="file" name="myfile" onchange="selectedFile();")
      div#fileSize
      div#fileType
      label(for="filename") File name:
      input#filename(type="text" name="filename" value=(fileInfo===undefined ? "" : fileInfo.name))
      br
      label(for="comment") Comment:
      textarea#comment(type="textarea" name="comment") #{fileInfo===undefined ? "" : fileInfo.comment}
      br
      input(type="submit" value="Update file")
