doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
    title #{title}
    style.
      @keyframes hidePreloader {
      0% {
      width: 100%;
      height: 100%
      }
      100% {
      width: 0;
      height: 0
      }
      }
      body>div.preloader {
      position: fixed;
      background: #fff;
      width: 100%;
      height: 100%;
      z-index: 1071;
      opacity: 0;
      transition: opacity .5s ease;
      overflow: hidden;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center
      }
      body:not(.loaded)>div.preloader {
      opacity: 1
      }
      body:not(.loaded) {
      overflow: hidden
      }
      body.loaded>div.preloader {
      animation: hidePreloader .5s linear .5s forwards
      }
    script.
      window.addEventListener("load", function() {
      setTimeout(function() {
      document.querySelector("body").classList.add("loaded")
      }, 300)
      })
    link(rel='icon', href='../assets/img/brand/favicon.png', type='image/png')
    link(rel='stylesheet', href='../assets/libs/%40fortawesome/fontawesome-free/css/all.min.css')
    link#stylesheet(rel='stylesheet', href='../assets/css/quick-website.css')
  body
    .preloader
      .spinner-border.text-primary(role='status')
        span.sr-only Loading...
    if user == null
      include includes/header_public.pug
    else
      include includes/header_private.pug
    section.slice.slice-lg.py-7.bg-cover.bg-size--cover
      span.mask.bg-primary
      .container.d-flex.align-items-center(data-offset-top='#navbar-main')
        .col.py-5
          .row.align-items-center.justify-content-center
            .col-md-7.col-lg-7.text-center
              h1.display-4.text-white.mb-2
                 |Блог новостей
              p.lead.text-white.opacity-8 
    section.slice.pt-5.pb-7.bg-section-secondary
      .container
        .row
          each pieceOfNews in news
            .col-xl-4.col-md-6
              .card.hover-translate-y-n3.hover-shadow-lg.overflow-hidden
                .card-body.py-4
                  small.d-block.text-sm.mb-2 #{pieceOfNews.dateCreate.getDay()} #{pieceOfNews.dateCreate.getMonth()+1}, #{pieceOfNews.dateCreate.getFullYear()}
                  a.h5.stretched-link.lh-150(href='/news/'+pieceOfNews.url+"/") #{pieceOfNews.title}
                  p.mt-3.mb-0.lh-170 #{pieceOfNews.short}
                .card-footer.border-0.delimiter-top
                  .row.align-items-center
                    .col-auto
                      span.avatar.avatar-sm.bg-primary.rounded-circle ПС
                      span.text-sm.mb-0.avatar-content Пользователь сайта
          else 
            p There are no news.                
    include includes/footer.pug
    script(src='../assets/libs/jquery/dist/jquery.min.js')
    script(src='../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='../assets/libs/svg-injector/dist/svg-injector.min.js')
    script(src='../assets/libs/feather-icons/dist/feather.min.js')
    script(src='../assets/libs/in-view/dist/in-view.min.js')
    script(src='../assets/libs/sticky-kit/dist/sticky-kit.min.js')
    script(src='../assets/libs/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='../assets/js/quick-website.js')
    script.
      feather.replace({
      width: "1em",
      height: "1em"
      })
