doctype html
html
  head
    title #{title}
    include includes/head_html.pug
    link(rel='stylesheet', href='../../../assets/libs/fortawesome/fontawesome-free/css/all.min.css')
  body
    .preloader
      .spinner-border.text-primary(role='status')
        span.sr-only Loading...
    include includes/header_private.pug
    section.slice.slice-lg.delimiter-bottom
      a.btn.btn-neutral.btn-icon-only.rounded-circle.position-absolute.left-4.top-90.d-none.d-lg-inline-flex(href="/profiles/"+forgetfulUser._id+"/")
        span.btn-inner--icon
          i(data-feather='arrow-left')
      .container.d-flex.flex-column
        .row.align-items-center.justify-content-center
          .col-lg-5.col-xl-4.py-6.py-md-0
            div
              .card.card-fluid
                .card-header
                  .row.align-items-center
                    .col-auto
                      p #{title}
                ul.list-group.list-group-flush
                    li.list-group-item
                      .row.align-items-center
                        .col-auto
                          i(data-feather='user')
                        .col.ml-n2
                          h6.text-sm.mb-0 Логин
                        .col.ml-n2
                          p.card-text #{forgetfulUser.username}
                    li.list-group-item
                      .row.align-items-center
                        .col-auto
                          i(data-feather='user-check')
                        .col.ml-n2
                          h6.text-sm.mb-0 ФИО
                        .col.ml-n2
                          p.card-text #{forgetfulUser.lastName} #{forgetfulUser.name} #{forgetfulUser.fatherName}
                    li.list-group-item
                      .row.align-items-center
                        .col-auto
                          i(data-feather='link')
                        .col.ml-n2
                          h6.text-sm.mb-0 Ссылка
                        .col.ml-n2
                          input#link.card-text(hidden, value='https://miitasu.ru/password_reset/'+token+'/')
                          button.btn.btn-sm.btn-outline-primary(onclick="addToClipboard('link');") Скопировать ссылку
    include includes/footer.pug 
    script(src='../../../assets/libs/jquery/dist/jquery.min.js')
    script(src='../../../addToClipboard.js')
    script(src='../../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='../../../assets/libs/svg-injector/dist/svg-injector.min.js')
    script(src='../../../assets/libs/feather-icons/dist/feather.min.js')
    script(src='../../../assets/libs/in-view/dist/in-view.min.js')
    script(src='../../../assets/libs/sticky-kit/dist/sticky-kit.min.js')
    script(src='../../../assets/libs/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='../../../assets/libs/progressbar.js/dist/progressbar.min.js')
    script(src='../../../assets/js/quick-website.js')
    script.
      feather.replace({
      width: "1em",
      height: "1em"
      })
    include includes/yandex_metrika.pug
