doctype html
html
  head
    title #{title}
    include includes/head_html.pug
    script(src="../../../../profiles_form_script.js" type="text/javascript")
    link(rel='stylesheet', href='../../../assets/libs/fortawesome/fontawesome-free/css/all.min.css')
  body
    include includes/header_private.pug
    section.slice.slice-lg.delimiter-bottom
      a.btn.btn-neutral.btn-icon-only.rounded-circle.position-absolute.left-4.top-90.d-none.d-lg-inline-flex(href="/profiles/")
        span.btn-inner--icon
          i(data-feather='arrow-left')
      .container.d-flex.flex-column
        .row.align-items-center.justify-content-center
          .col-md-6.col-lg-7.col-xl-8.py-6.py-md-0
            div
              .mb-5.text-center
                h6.h3.mb-1 Редактирование профиля
              span.clearfix
              if errorMessage.length
                p.mb-0(style=" color: red")=errorMessage
              form(action='.', method='POST')
                .row
                  .col.form-group
                    label.form-control-label Фамилия
                    .input-group.input-group-merge
                      input#lastname.form-control.form-control-prepend(type='text', name="lastname", placeholder='Фамилия', required, value=(userInfo===undefined ? "" : userInfo.lastName), maxlength=50)
                      .input-group-prepend
                        span.input-group-text
                          i(data-feather='align-left')
                  .col.form-group.mb-0
                    .d-flex.align-items-center.justify-content-between
                      div
                        label.form-control-label Имя
                        span.text-danger *
                    .input-group.input-group-merge
                      input#name.form-control.form-control-prepend(type='text', name="name", placeholder='Имя', required, value=(userInfo===undefined ? "" : userInfo.name), maxlength=40)
                      .input-group-prepend
                        span.input-group-text
                          i(data-feather='align-left')
                .row
                  .col.form-group.mb-0
                    .d-flex.align-items-center.justify-content-between
                      div
                        label.form-control-label Отчество
                    .input-group.input-group-merge
                      input#fathername.form-control.form-control-prepend(type='text', name="fathername", placeholder='Отчество', value=(userInfo===undefined ? "" : userInfo.fatherName), maxlength=50)
                      .input-group-prepend
                        span.input-group-text
                          i(data-feather='align-left')
                  if !userInfo.securityRole.includes("superadmin")
                    .col.form-group.mb-0
                      .d-flex.align-items-center.justify-content-between
                        div
                          label.form-control-label Роль
                          span.text-danger *
                      select#securityRole.custom-select(type="select" name="securityRole" placeholder="Роль пользователя" onChange="selectedRole();" required)
                        -let roles = ['teacher', 'student', 'superadmin', 'admin']
                        for role in roles
                          if role == userInfo.securityRole
                            option(value=role selected) #{role}
                          else
                            option(value=role) #{role}
                .row.mt-2#position
                  .col.form-group.mb-0
                    .d-flex.align-items-center.justify-content-between
                      div
                        label.form-control-label Должность
                    select.custom-select(type="select" name="position" placeholder="Должность преподавателя" )
                      -let positions = ["Доцент", "Преподаватель", "Профессор", "Старший преподаватель"]
                        if(userInfo.securityRole.includes("teacher"))
                          for position in positions
                            if(userInfo.position==position)
                              option(value=position selected) #{position}
                            else
                              option(value=position) #{position}
                        else
                          for position in positions
                            option(value=position) #{position}
                .row.mt-2#group
                  .col.form-group.mb-0
                    .d-flex.align-items-center.justify-content-between
                      div
                        label.form-control-label Группа
                    select.custom-select(type="select" name="group" placeholder="Группа студента")
                      if(userInfo.securityRole.includes("student") && userInfo.group==undefined)
                        for group in groups
                          if(userInfo.group.toString()==group._id.toString())
                            option(value=group._id.toString() selected) #{group.fullname}
                          else
                            option(value=group._id.toString()) #{group.fullname}
                      else
                        for group in groups
                          option(value=group._id.toString()) #{group.fullname}
                .row.mt-2
                  .col.form-group.mb-0
                    .d-flex.align-items-center.justify-content-between
                      div
                        label.form-control-label Логин
                        span.text-danger *
                    .input-group.input-group-merge
                      input#username.form-control.form-control-prepend(type='text', name="username", placeholder='Логин', required, value=(userInfo===undefined ? "" : userInfo.username), maxlength=19)
                      .input-group-prepend
                        span.input-group-text
                          i(data-feather='user')
                .row.mt-2
                  .col.form-group.mb-0
                    .d-flex.align-items-center.justify-content-between
                      div
                        label.form-control-label Почта
                    .input-group.input-group-merge
                      input#email.form-control.form-control-prepend(type="email" name="email" placeholder="Почта" value=(userInfo===undefined ? "" : userInfo.email), maxlength=60)
                      .input-group-prepend
                        span.input-group-text
                          i(data-feather='at-sign')
                  .col.form-group.mb-0
                    .d-flex.align-items-center.justify-content-between
                      div
                        label.form-control-label Телефон
                    .input-group.input-group-merge
                      input#phone.form-control.form-control-prepend(type="tel" name="phone" placeholder="Телефон" value=(userInfo===undefined ? "" : userInfo.phone), maxlength=24)
                      .input-group-prepend
                        span.input-group-text
                          i(data-feather='phone')
                .row.mt-3
                  .col.form-group.mb-0
                    button.btn.btn-block.btn-primary(type='submit') Изменить
                  .col.form-group.mb-0
                    a(href="/profiles/")
                      button.btn.btn-block.btn-secondary(type="button") Отмена
    script(src='../../../assets/libs/jquery/dist/jquery.min.js')
    script(src='../../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='../../../assets/libs/svg-injector/dist/svg-injector.min.js')
    script(src='../../../assets/libs/feather-icons/dist/feather.min.js')
    script(src='../../../assets/libs/in-view/dist/in-view.min.js')
    script(src='../../../assets/libs/sticky-kit/dist/sticky-kit.min.js')
    script(src='../../../assets/libs/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='../../../assets/js/quick-website.js')
    script.
      feather.replace({
      width: "1em",
      height: "1em"
      })
    include includes/yandex_metrika.pug
