doctype html
html
  head
    title #{title}
    include includes/head_html.pug
    link(rel='stylesheet', href='../assets/libs/fortawesome/fontawesome-free/css/all.min.css')
  body.bg-light-secondary
    .preloader
      .spinner-border.text-primary(role='status')
        span.sr-only Loading...
    include includes/header_private.pug
    section.slice.slice-lg.delimiter-bottom
      a.btn.btn-neutral.btn-icon-only.rounded-circle.position-absolute.left-4.top-90.d-none.d-lg-inline-flex(href="/")
        span.btn-inner--icon
          i(data-feather='arrow-left')
      .container
        .row.justify-content-center
          .col-lg-9
            .row.align-items-center.mb-4
              .pr-3
                span.h5.mb-0
                  i(data-feather='users')
              .col
                if currentUser.securityRole !== 0 && currentUser.securityRole.includes('superadmin')
                  h3.h5.mb-0 Управление пользователями
                  p.text-muted.mb-0 Все пользовательские привелегии и настройки.
                else
                  h3.h5.mb-0 #{title}
                  p.text-muted.mb-0 Все пользователи системы.
              .col-auto
                if currentUser.securityRole !== 0 && currentUser.securityRole.includes('superadmin')
                  a(href="/profiles/new/")
                    button.btn.btn-sm.btn-primary.btn-icon-only.rounded-circle(type='button')
                      span.btn-inner--icon
                        i.fas.fa-plus
            .row.mt-4
              .col-lg-12
                .mb-5
                  .table-responsive
                    table.table.table-cards.align-items-center
                      thead
                        tr
                          th(scope='col', style='min-width:240px') Логин
                          th(scope='col') ФИ
                          if currentUser.securityRole !== 0 && currentUser.securityRole.includes('superadmin')
                            th(scope='col') Роль доступа
                          th(scope='col')
                      tbody
                      for user in profiles
                        tr
                          th(scope='row')
                            .media.align-items-center
                              div
                                .avatar-parent-child
                                  span.avatar.bg-primary.text-white.rounded-circle.avatar-sm #{user.username.substr(0,2).toUpperCase()}
                              .media-body.ml-4
                                a.name.h6.mb-0.text-sm(href="/profiles/"+user._id+"/") #{user.username}
                                small.d-block.font-weight-bold #{user.email}
                          td
                              p.text-sm.font-weight-bold #{user.lastName}  #{user.name}
                          if currentUser.securityRole !== 0 && currentUser.securityRole.includes('superadmin')
                            td
                                button.btn.btn-sm.btn-secondary(type='button', aria-haspopup='true', aria-expanded='false') #{user.securityRole}
                          td.text-right
                            .actions.ml-3
                              a.action-item.mr-2(href="/profiles/"+user._id+"/")
                                i(data-feather='external-link')
                              if currentUser.securityRole !== 0 && currentUser.securityRole.includes('superadmin')
                                a.action-item.mr-2(href='/profiles/edit/'+user._id+"/")
                                  i(data-feather='edit-2')
                                a.action-item.text-danger.mr-2(href='/profiles/delete/'+user._id+"/")
                                  i(data-feather='trash-2')
    include includes/footer.pug                  
    script(src='../assets/libs/jquery/dist/jquery.min.js')
    script(src='../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='../assets/libs/svg-injector/dist/svg-injector.min.js')
    script(src='../assets/libs/feather-icons/dist/feather.min.js')
    script(src='../assets/libs/in-view/dist/in-view.min.js')
    script(src='../assets/libs/sticky-kit/dist/sticky-kit.min.js')
    script(src='../assets/libs/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='../assets/libs/progressbar.js/dist/progressbar.min.js')
    script(src='../assets/js/quick-website.js')
    script.
      feather.replace({
      width: "1em",
      height: "1em"
      })
    include includes/yandex_metrika.pug
