section.slice.py-5.bg-section-secondary(style="min-height: 580px")
  .container
    .row
      .col-md-3
        .mb-4
          include filter_disciplines.pug
      .col-md-9
        .row.align-items-center.mb-4
          .col
            .input-group.input-group-merge
              input#search.form-control.form-control-prepend(type='text', name="search", placeholder='Поиск по дисциплинам')
              .input-group-prepend
                  span.input-group-text
                    i(data-feather='search')
        .row.align-items-center.mb-4
          .col
            h1.h5.mb-0 Ваши дисциплины
        .row.mx-n2
          each disc in studentDisciplines 
            .col-sm-6.col-lg-4.px-2
              .card.mb-3(style="min-width: 175px; min-height: 150px")
                a.action-item.mr-2(href=urlDiscDetail+disc.allias+"/", data-toggle='tooltip', title='Просмотр')
                  .card-header.pb-3
                    .d-flex.justify-content-between.align-items-center
                      div
                        h6.mb-0 #{disc.mnemo}
                  .card-body.pt-0
                    .mt-1
                      p.mb-0.text-sm.text-muted #{disc.name}
                    .mt-1
                      for group in disc.groupsInfo
                        p.badge.badge-primary.badge-pill.mb-2.text-center  #{group.fullname}
          else 
            p Дисциплин пока ещё нет.
        .row.align-items-center.mb-4
          .col
            h1.h5.mb-0 Другие дисциплины
        .row.mx-n2
          each otherDisc in otherDisciplines 
            .col-sm-6.col-lg-4.px-2
              .card.mb-3(style="min-width: 175px; min-height: 150px")
                a.action-item.mr-2(href=urlDiscDetail+otherDisc.allias+"/", data-toggle='tooltip', title='Просмотр')
                  .card-header.pb-3
                    .d-flex.justify-content-between.align-items-center
                      div
                        h6.mb-0 #{otherDisc.mnemo}
                  .card-body.pt-0
                    .mt-1
                      p.mb-0.text-sm.text-muted #{otherDisc.name}
                    .mt-1
                      for group in otherDisc.groupsInfo
                        p.badge.badge-primary.badge-pill.mb-2.text-center  #{group.fullname}
                        label(hidden="true") #{group.typeEducation}, #{group.course} курс
          else 
            p Дисциплин пока ещё нет.
